.content {
	border: 1px solid #bbb;
	margin: auto;
	margin-top: 100px;
	padding: 1em;
	width: 960px;
}

.hidden {
	position: absolute;
	left: -99999px;
}

.active {
	opacity: 1;
}

.inactive {
	opacity: 0;
}

.wistia_embed {
	margin: auto;
}

.cta {
	background-color: #eee;
	margin-bottom: 1em;
	margin-top: 1em;
	padding: 1em;
	text-align: right;
	transition: opacity 1s ease-in;
}

.panel {
	border-bottom: 1px dashed #bbb;
	margin-bottom: 1em;
	margin-top: 1em;
	padding: 1em;
}
